In [4]:
import pandas as pd
import chardet
import pycountry

In [37]:
with open("raw_data/trade-register.csv", "rb") as f:
    result = chardet.detect(f.read())
    print(result["encoding"])

ISO-8859-1

## Investigating countries not recognized by Tableau 
Put the source data in tableau and made two csvs of countries it couldn't recognize/map. Then making a list of unique countries between recipients and suppliers

In [40]:
with open("int_data/unidentified_suppliers.csv", "rb") as f:
    supp_encoding = chardet.detect(f.read())
    print(supp_encoding["encoding"])

UTF-16

In [46]:
unid_supp_df = pd.read_csv('int_data/unidentified_suppliers.csv', encoding = supp_encoding['encoding'], sep='\t').reset_index()
unid_rec_df = pd.read_csv('int_data/unidentified_recipients.csv', encoding = supp_encoding['encoding'],sep='\t').reset_index()

unid_supp_df.head()

   index             Supplier  Number ordered
0      0           Yugoslavia          2198.0
1      1  unknown supplier(s)          5390.0
2      2     United Nations**             4.0
3      3         Soviet Union        845420.0
4      4          South Yemen            12.0

In [50]:
unique_unidentified_countries = list(set(unid_supp_df['Supplier']).union(set(unid_rec_df['Recipient'])))
unique_unidentified_countries

['MTA (Myanmar)*',
 nan,
 'NATO**',
 'Libya HoR*',
 'FNLA (Angola)*',
 'Haiti rebels*',
 'Soviet Union',
 'SLA (Lebanon)*',
 'LF (Lebanon)*',
 '0.25',
 'MPLA (Portugal)*',
 'Houthi rebels (Yemen)*',
 'OSCE**',
 'Contras (Nicaragua)*',
 'Mujahedin (Afghanistan)*',
 'PLO (Israel)*',
 'United Wa State (Myanmar)*',
 'ZAPU (Zimbabwe)*',
 'European Union**',
 'Darfur rebels (Sudan)*',
 'Provisional IRA (UK)*',
 'unknown rebel group*',
 '3',
 'GUNT (Chad)*',
 'Kurdistan Regional Government (Iraq)*',
 'FAN (Chad)*',
 'ELF (Ethiopia)*',
 'Indonesia rebels*',
 'unknown recipient(s)',
 'Syria rebels*',
 'UIC (Somalia)*',
 'Katanga',
 'Viet Cong (South Vietnam)*',
 'African Union**',
 'South Yemen',
 'LRA (Uganda)*',
 'Lebanon Palestinian rebels*',
 'Biafra',
 'Viet Minh (France)*',
 'Yemen Arab Republic (North Yemen)',
 'Regional Security System**',
 'Hamas (Palestine)*',
 'Anti-Castro rebels (Cuba)*',
 'Southern rebels (Yemen)*',
 'Pathet Lao (Laos)*',
 'MNLF (Philippines)*',
 'SPLA (Sudan)*',
 'LTTE (Sri Lanka)*',
 'Hezbollah (Lebanon)*',
 'SNA (Somalia)*',
 'FRELIMO (Portugal)*',
 'ANC (South Africa)*',
 'UNITA (Angola)*',
 'Ukraine Rebels*',
 'Yugoslavia',
 'RPF (Rwanda)*',
 'Amal (Lebanon)*',
 'Czechoslovakia',
 'South Vietnam',
 'North Yemen',
 'PKK (Turkiye)*',
 'unknown supplier(s)',
 'EPLF (Ethiopia)*',
 'NTC (Libya)*',
 'NLA (Macedonia)*',
 'Armas (Guatemala)*',
 'East Germany (GDR)',
 'United Nations**',
 'Libya GNC',
 'Northern Alliance (Afghanistan)*',
 'PRC (Israel/Palestine)*',
 'RUF (Sierra Leone)*',
 'FMLN (El Salvador)*',
 'Khmer Rouge (Cambodia)*',
 'PIJ (Israel/Palestine)*',
 'PAIGC (Portugal)*']

In [24]:
df = pd.read_csv('raw_data/trade-register.csv', encoding=result["encoding"])

In [30]:
df[(df['Mapped_Supplier'].isna() ) | (df['Mapped_Recipient'].isna() )].sort_values('Year of order', ascending=False).head(50)

,Recipient,Supplier,Year of order,,Number ordered,.1,Weapon designation,Weapon description,Number delivered,.2,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons,Mapped_Supplier,Mapped_Recipient
3187,Brunei,Singapore,2023.0,NaN,2.0,NaN,Fearless,patrol craft,2.0,NaN,2023,Second hand,Second-hand; aid; armament removed before deli...,5.60,11.20,11.20,Singapore,NaN
24627,Taiwan,United States,2023.0,NaN,100.0,NaN,AIM-9X Sidewinder,BVRAAM,0.0,NaN,NaN,New,Aim-9X Block-2; delivery planned by 2030,0.18,18.00,0.00,United States,NaN
26578,UAE,United States,2023.0,NaN,106.0,NaN,MaxxPro,APC,0.0,NaN,NaN,Second hand but modernized,Second-hand but modernized before delivery,0.21,22.39,0.00,United States,NaN
15002,Malaysia,South Korea,2023.0,NaN,18.0,NaN,FA-50,FGA aircraft,0.0,NaN,NaN,New,KRW1.2 tr ($920 m) 'LCA/LIFT' or 'FLIT' progra...,16.45,296.10,0.00,NaN,Malaysia
14973,Malaysia,Turkiye,2023.0,NaN,108.0,NaN,Karaok,anti-tank missile,0.0,NaN,NaN,New,NaN,0.00,0.00,0.00,NaN,Malaysia
14263,Laos,China,2023.0,?,10.0,?,CSK-181,APC/APV,10.0,?,2023,New,NaN,0.16,1.60,1.60,China,NaN
14131,Kuwait,Turkiye,2023.0,NaN,NaN,NaN,Bayraktar TB2,armed UAV,0.0,NaN,NaN,New,$370 m deal,2.40,0.00,0.00,NaN,Kuwait
11950,Iraq,unknown supplier(s),2023.0,?,1.0,NaN,H725 Caracal,transport helicopter,1.0,?,2023,Second hand,Probably second-hand; EC225 version; for Kurdi...,3.20,3.20,3.20,NaN,Iraq
21166,Saudi Arabia,Turkiye,2023.0,NaN,NaN,NaN,Akinci,armed UAV,0.0,NaN,NaN,New,Part of $3 b deal (incl other UAV and arms); i...,4.50,0.00,0.00,NaN,Saudi Arabia
24612,Taiwan,United States,2023.0,NaN,18.0,NaN,M-142 HIMARS,self-propelled MRL,0.0,NaN,NaN,New,NaN,1.10,19.80,0.00,United States,NaN
26658,UAE,China,2023.0,NaN,NaN,NaN,AR-3,self-propelled MRL,0.0,NaN,NaN,New,AED902 m ($245 m) deal,0.00,0.00,0.00,China,NaN
24615,Taiwan,United States,2023.0,NaN,460.0,?,vehicle engine,vehicle engine,0.0,NaN,NaN,New,NTD7.2 b ($240 m) deal; Renk America AVDS-1790...,0.16,73.60,0.00,United States,NaN
22537,South Korea,United States,2023.0,?,288.0,?,AGM-114 Hellfire-2,anti-tank missile/ASM,0.0,NaN,NaN,New,For AH-64E combat helicopters,0.05,14.40,0.00,United States,NaN
24656,Tanzania,Italy,2023.0,?,2.0,NaN,C-27J Spartan,transport aircraft,0.0,NaN,NaN,New,Incl for SAR; disaster relief and firefighting,16.00,32.00,0.00,Italy,NaN
15191,Malaysia,Turkiye,2023.0,NaN,3.0,NaN,Anka,UAV,0.0,NaN,NaN,New,MYR424 m ($92 m) deal; Anka-S version; deliver...,3.00,9.00,0.00,NaN,Malaysia
24662,Tanzania,United States,2023.0,NaN,4.0,NaN,aircraft engine,aircraft engine,0.0,NaN,NaN,New,Allison AE-2100D3 (5000hp) turboprop for 2 C-2...,1.50,6.00,0.00,United States,NaN
11625,Iran,Russian Federation,2023.0,?,24.0,?,Su-35S,FGA aircraft,0.0,NaN,NaN,New,Su-35E version; originally produced for Egypt ...,60.00,1440.00,0.00,Russian Federation,NaN
25569,Turkiye,United States,2023.0,?,109.0,?,APG-83 SABR,combat aircraft radar,0.0,NaN,NaN,New,For modernization of 79 F-16V combat aircraft;...,2.50,272.50,0.00,United States,NaN
25572,Turkiye,United States,2023.0,?,40.0,NaN,F-16V Viper,FGA aircraft,0.0,NaN,NaN,New,Selected but contract not yet signed by end 2023,40.00,1600.00,0.00,United States,NaN
11301,Indonesia,Turkiye,2023.0,NaN,12.0,NaN,Anka,armed UAV,0.0,NaN,NaN,New,$300 m deal; incl assembly in Indonesia; deliv...,3.00,36.00,0.00,NaN,Indonesia
11291,Indonesia,Turkiye,2023.0,NaN,45.0,NaN,Atmaca,anti-ship missile,0.0,NaN,NaN,New,Selected but not yet ordered by end-2023,0.00,0.00,0.00,NaN,Indonesia
10030,India,South Korea,2023.0,?,100.0,NaN,K-9 Thunder 155mm,self-propelled gun,0.0,NaN,NaN,New,Produced under licence in India as K-9 Vajra-T...,4.34,434.00,0.00,NaN,India
9990,Hungary,Turkiye,2023.0,NaN,NaN,NaN,NMS,APV,0.0,NaN,NaN,New,NaN,0.18,0.00,0.00,NaN,Hungary
6339,DR Congo,China,2023.0,?,9.0,?,CH-4B,armed UAV,9.0,?,2023,New,NaN,4.00,36.00,36.00,China,NaN
9793,Honduras,unknown supplier(s),2023.0,NaN,2.0,?,Bell-412,helicopter,0.0,NaN,NaN,Second hand but modernized,Second-hand but modernized before delivery; de...,3.30,6.60,0.00,NaN,Honduras
26480,UAE,Indonesia,2023.0,NaN,1.0,NaN,LPD-163m,AALS,0.0,NaN,NaN,New,AED1.5 b ($408 m) deal; delivery planned 2029,0.00,0.00,0.00,Indonesia,NaN
2217,Bangladesh,Turkiye,2023.0,?,50.0,?,CIRIT,ASM,25.0,?,2023,New,For modification of Falco UAV,0.01,0.50,0.25,NaN,Bangladesh
2144,Bangladesh,Turkiye,2023.0,NaN,NaN,NaN,Boran 105mm,towed gun,0.0,NaN,NaN,New,NaN,0.00,0.00,0.00,NaN,Bangladesh
22050,South Korea,France,2023.0,NaN,NaN,NaN,Mistral,portable SAM,0.0,NaN,NaN,New,Mistral ATAM version; for Korean Marine Attack...,0.09,0.00,0.00,France,NaN
24281,Taiwan,United States,2023.0,?,864.0,NaN,GMLRS,guided rocket,0.0,NaN,NaN,New,For HIMARS multiple rocket launchers,0.08,69.12,0.00,United States,NaN
22546,South Korea,United States,2023.0,?,38.0,?,SM-6,SAM/ABM,0.0,NaN,NaN,New,For KDX-3 destroyers,0.00,0.00,0.00,United States,NaN
22555,South Korea,Canada,2023.0,NaN,4.0,NaN,Global Express,transport aircraft,0.0,NaN,NaN,New,Global-6500 version; for modification to AEW&C...,25.00,100.00,0.00,Canada,NaN
22556,South Korea,United States,2023.0,?,42.0,?,AIM-9X Sidewinder,BVRAAM,0.0,NaN,NaN,New,AIM-9X Block-2+ version; probably selected but...,0.18,7.56,0.00,United States,NaN
19560,Poland,South Korea,2023.0,NaN,400.0,NaN,KLTV,APV,0.0,NaN,NaN,New,PLN1.2 b ($292 m) deal; produced under licence...,0.14,56.00,0.00,NaN,Poland
19544,Poland,South Korea,2023.0,NaN,152.0,NaN,K-9 Thunder 155mm,self-propelled gun,0.0,NaN,NaN,New,USD2.6 b deal; incl production under licence i...,4.34,659.68,0.00,NaN,Poland
582,Algeria,Turkiye,2023.0,?,12.0,?,Anka,armed UAV,0.0,NaN,NaN,New,Anka-S+ version,3.00,36.00,0.00,NaN,Algeria
17381,Nigeria,Turkiye,2023.0,NaN,1.0,NaN,YTBK,patrol craft,0.0,NaN,NaN,New,Designation uncertain (described as '57m vesse...,20.00,20.00,0.00,NaN,Nigeria
16495,NATO**,United States,2023.0,?,6.0,NaN,Boeing-737 AEW&C,AEW&C aircraft,0.0,NaN,NaN,New,E-7A Wedgetail version; delivery planned from ...,250.00,1500.00,0.00,United States,NaN
27043,Ukraine,unknown supplier(s),2023.0,NaN,50.0,NaN,M-113,APC,50.0,NaN,2023,Second hand,Second-hand,0.10,5.00,5.00,NaN,Ukraine
22478,South Korea,United States,2023.0,?,115.0,NaN,AIM-9X Sidewinder,BVRAAM,0.0,NaN,NaN,New,AIM-9X Block-2 version,0.18,20.70,0.00,United States,NaN
27068,Ukraine,Turkiye,2023.0,NaN,1.0,NaN,Bayraktar TB2,armed UAV,1.0,NaN,2023,New,Donated by producer,2.40,2.40,2.40,NaN,Ukraine
24287,Taiwan,United Kingdom,2023.0,?,2.0,NaN,Artisan-3D,air search radar,0.0,NaN,NaN,New,For 2 frigates produced in Taiwan,0.00,0.00,0.00,United Kingdom,NaN
15272,Malaysia,unknown supplier(s),2023.0,NaN,178.0,?,vehicle engine,vehicle engine,0.0,NaN,NaN,New,340hp diesel engine for 178 Tarantula APC prod...,0.05,8.90,0.00,NaN,Malaysia
827,Antigua and Barbuda,unknown supplier(s),2023.0,NaN,1.0,NaN,PA-31 Navajo,light transport aircraft,1.0,NaN,2023,Second hand,Probably second-hand; PA-31-350 Chieftain version,0.30,0.30,0.30,NaN,Antigua and Barbuda
27083,Ukraine,unknown supplier(s),2023.0,NaN,NaN,NaN,AIFV,IFV,1.0,?,2023,Second hand,NaN,0.36,0.00,0.36,NaN,Ukraine
15784,Moldova,France,2023.0,NaN,1.0,NaN,Ground Master-200,air search radar,1.0,NaN,2023,New,NaN,10.00,10.00,10.00,France,NaN
1494,Australia,South Korea,2023.0,NaN,129.0,NaN,K-21,IFV,0.0,NaN,NaN,New,'Project Land-400' or 'Mounted Close Combat Ca...,1.60,206.40,0.00,NaN,Australia
27127,Ukraine,Turkiye,2023.0,NaN,NaN,?,Cobra-2,APC,20.0,?,2023,New,NaN,0.25,0.00,5.00,NaN,Ukraine
15385,Mali,unknown supplier(s),2023.0,?,20.0,?,Guardian,APC,20.0,?,2023,New,NaN,0.18,3.60,3.60,NaN,Mali
20500,Romania,Turkiye,2023.0,NaN,18.0,NaN,Bayraktar TB2,armed UAV,0.0,NaN,NaN,New,$321 m deal,2.40,43.20,0.00,NaN,Romania

In [4]:
# 10 most valuable per unit items
df.sort_values('SIPRI TIV per unit', ascending=False).head(10)

,Recipient,Supplier,Year of order,,Number ordered,.1,Weapon designation,Weapon description,Number delivered,.2,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons
10670,India,Russia,2004.0,NaN,1.0,NaN,Gorshkov,aircraft carrier,1.0,NaN,2013,New,$2.3 b deal (originally $625-750 m deal but in...,1250.00,1250.00,1250.00
10050,India,Russia,2019.0,NaN,1.0,NaN,Project-971I,nuclear submarine,0.0,NaN,NaN,New,$3 b deal for 10-year lease; Indian designatio...,1000.00,1000.00,0.00
10540,India,Russia,2004.0,?,1.0,NaN,Project-971I,nuclear submarine,1.0,NaN,2012,New,$650 m 10-year lease (returned to Russia 2021)...,1000.00,1000.00,1000.00
4643,China,Ukraine,1998.0,NaN,1.0,NaN,Kuznetsov,aircraft carrier,1.0,NaN,2012,Second hand,Second-hand (production stopped 1992 with end ...,631.60,631.60,631.60
4782,China,Russia,2002.0,NaN,2.0,NaN,Project-956/Sovremenny,destroyer,2.0,NaN,2005; 2006,New,$1-1.5 b deal; Type-956EM version; option on 2...,500.00,1000.00,1000.00
4780,China,Russia,1998.0,NaN,2.0,NaN,Project-956/Sovremenny,destroyer,2.0,NaN,1999; 2000,New,$667 m deal; Project-956E version; originally ...,500.00,1000.00,1000.00
1292,Australia,Spain,2007.0,NaN,3.0,NaN,Hobart,destroyer,3.0,NaN,2017; 2018; 2020,New,AUD8.5-9.7 b ($7.2-8.2 b) 'Project Sea-4000' o...,499.00,1497.00,1497.00
7328,Egypt,Italy,2020.0,NaN,2.0,NaN,FREMM,frigate,2.0,NaN,2020; 2021,New,Originally produced for Italy but sold to Egypt,483.00,966.00,966.00
16093,Morocco,France,2008.0,NaN,1.0,NaN,FREMM,frigate,1.0,NaN,2014,New,EUR470 m deal; Moroccan designation Mohammed VI,482.95,482.95,482.95
10771,Indonesia,Italy,2021.0,?,6.0,NaN,FREMM,frigate,0.0,NaN,NaN,New,Selected 2021 but not yet ordered by end-2023,482.95,2897.70,0.00

In [5]:
len(df['Weapon description'].unique())

222

## Categorize weapon descriptions
Make a high level category and a sub-category for each weapon description

In [6]:
category_mapping = {
    'Aircraft': [
        'fighter aircraft', 'bomber aircraft', 'transport aircraft', 'reconnaissance aircraft', 
        'trainer aircraft', 'AEW&C aircraft', 'SIGINT aircraft', 'trainer/combat aircraft', 
        'AGS aircraft', 'FGA aircraft', 'FGA/EW aircraft', 'airship', 'target tow aircraft', 'light aircraft', 'ground attack aircraft',
        'ASW aircraft', 'AEW aircraft', 'AEW/AGS aircraft', 'reconnaissance/SIGINT aircraft', 'transport ac/helicopter', 'transport/trainer aircraft', 'airship', 
        'light transport aircraft', 'heavy transport aircraft', 'tanker/transport aircraft', 'trainer/light aircraft', 'light/trainer aircraft'
    ],
    'Helicopters': [
        'combat helicopter', 'transport helicopter', 'ASW helicopter', 'light helicopter', 
        'AEW helicopter', 'anti-ship helicopter', 'SIGINT helicopter', 'helicopter', 'ASW Helicopter'
    ],
    'Unmanned Vehicles': [
        'UAV', 'armed UAV', 'reconnaissance AV', 'maritime patrol UAV', 'light aircraft/UAV', 'loitering munition' 
    ],
    'Naval Vessels': [
        'frigate', 'destroyer', 'corvette', 'patrol craft', 'submarine', 'cargo ship', 'tanker',
        'support ship', 'training ship', 'MCM ship', 'replenishment ship', 'minehunter', 'icebreaker', 
        'OPV', 'OPV/training ship', 'OPV/support ship', 'gunboat', 'landing ship', 'salvage ship', 
        'survey ship', 'cruiser', 'aircraft carrier', 'minelayer', 'replenishment tanker', 
        'corvette/minesweeper', 'OPV/transport ship', 'support/landing ship', 'landing/patrol craft',
        'transport ship', 'FAC (Fast Attack Craft)', 'minesweeper', 'landing craft', 'tug', 'nuclear submarine', 'OPV/tug',
        'frigate/landing ship', 'SSB (Ballistic Missile Submarine)', 'SIGINT ship', 'patrol craft/transport craft', 'transport craft',
        'support craft', 'cargo craft', 'midget submarine', 'icebreaker/OPV', 'FAC', 'SSB'
    ],
    'Ground Vehicles/Artillery': [
        'tank', 'light tank', 'armoured car', 'APC', 'IFV', 'AFSV', 'APV', 'AMV', 'ARV', 'AEV/ARV', 
        'armoured bridgelayer', 'training tank', 'tank turret', 'self-propelled gun chassis', 'tank chassis',
        'APC/APV', 'APC/IFV', 'APC/CP', 'IFV/AFSV', 'IFV/APC turret', 'APC turret', 'IFV turret', 'self-propelled AD system',
        'self-propelled gun', 'self-propelled MRL', 'towed gun', 'self-propelled AA gun', 'coastal defence system', 'AA gun (Anti-Aircraft Gun)',
        'towed MRL', 'ALV (Armored Logistics Vehicle)', 'naval gun', 'tank destroyer', 'mortar', 'self-propelled mortar', 'anti-aircraft gun',
        'SPG turret', 'ASW mortar', 'AEV (Armored Engineering Vehicle)', 'helicopter turret', 'anti-tank AV turret', 'self-propelled AA gun turret',
        'apc (Armored Personnel Carrier)', 'AA gun/SAM system', 'AA gun system', 'coastal defence gun', 'mortar turret', 'AA gun', 'ALV', 'AEV', 'apc'
    ],
    'Missiles/Rockets/Bombs': [
        'SAM', 'portable SAM', 'mobile SAM system', 'naval SAM system', 'SAM system', 'SAM/ABM', 'ABM missile',
        'SSM', 'SSM launcher', 'SSM TEL', 'anti-ship missile', 'anti-radar missile', 'anti-tank missile', 
        'guided bomb', 'guided rocket', 'guided rocket/SSM', 'guided rocket/ASM', 'SSM/ASM', 'anti-ship missile/SSM',
        'anti-ship/land-attack missile', 'land-attack missile', 'anti-tank missile/ASM', 'guided glide bomb',
        'anti-ship/ASW torpedo', 'anti-ship torpedo', 'SSM/anti-ship missile', 'ASW torpedo', 'ASW MRL', 
        'anti-ship missile/ASM', 'BVRAAM', 'BVRAAM/SAM', 'SRAAM', 'ASM', 'ABM/SAM system', 'naval MRL', 'ASM (Anti-Ship Missile)',
        'guided shell', 'ASW missile', 'anti-ship/anti-radar missile', 'naval mine/torpedo', 'ABM system', 'ASW rocket launcher',
        'anti-ship missile/ASM/SAM', 'SLBM (Submarine-Launched Ballistic Missile)', 'ASM', 'SLBM', 'anti-radar missile/ASM'
    ],
    'Radar/Detection Systems': [
        'air search radar', 'AGS radar', 'sea search radar', 'multi-function radar', 'air search system', 
        'fire control radar', 'air/sea search radar', 'artillery locating radar', 'ground surv radar', 
        'ground/sea search radar', 'AEW radar', 'MP aircraft radar', 'aircraft EO system', 
        'aircraft EO/radar system', 'air/ground surv radar', 'SAM system radar', 'multi-role radar', 'radar',
        'combat aircraft radar', 'combat heli radar', 'SONAR', 'submarine sonar', 'ASW sonar', 'SONAR system',
        'aircraft recce system', 'height-finding radar', 'ASW sonar', 'SONAR', 'recce satellite', 'EO search/fire control', 'EO system',
        'AGS/MP aircraft radar', 'Naval EO system', 'AGS/SIGINT system', 'surveillance satellite'
    ],
    'Specialized Equipment': [
        'aircraft engine', 'turbofan', 'turbojet', 'gas turbine', 'vehicle engine', 'AIP engine', 
        'air refuel system', 'maritime patrol aircraft', 'SIGINT system', 
        'SIGINT aircraft', 'AALS', 'VEHICLE ENGINE', 'turbojet', 'nuclear reactor', 'ship engine', 'turboprop'
    ],
    'Other': [
        'SSB' , 'training equipment'
    ]
}

# Expanded sub-category mappings
sub_category_mapping = {
    # Aircraft Sub-categories
    'Aircraft': {
        'Fighter/Combat Aircraft': ['fighter aircraft', 'trainer/combat aircraft', 'FGA aircraft', 'FGA/EW aircraft', 'ground attack aircraft', 'ASW aircraft'],
        'Bomber/Heavy Aircraft': ['bomber aircraft', 'heavy transport aircraft'],
        'Reconnaissance/Surveillance Aircraft': ['reconnaissance aircraft', 'AEW&C aircraft', 'SIGINT aircraft', 'AGS aircraft', 'light aircraft', 'AEW aircraft',
                                                'AEW/AGS aircraft', 'reconnaissance/SIGINT aircraft', 'airship'],
        'Trainer Aircraft': ['trainer aircraft', 'trainer/light aircraft', 'light/trainer aircraft', 'target tow aircraft'],
        'Transport Aircraft': ['transport aircraft', 'light transport aircraft', 'tanker/transport aircraft', 'transport ac/helicopter', 'transport/trainer aircraft']
    },
    # Helicopter Sub-categories
    'Helicopters': {
        'Combat Helicopters': ['combat helicopter', 'ASW helicopter', 'anti-ship helicopter', 'SIGINT helicopter'],
        'Transport/Utility Helicopters': ['transport helicopter', 'light helicopter'],
        'Specialized Helicopters': ['AEW helicopter', 'ASW Helicopter', 'helicopter']
    },
    # Unmanned Vehicles Sub-categories
    'Unmanned Vehicles': {
        'UAV/Drone': ['UAV', 'armed UAV', 'light aircraft/UAV', 'loitering munition'],
        'Reconnaissance/Surveillance UAV': ['reconnaissance AV', 'maritime patrol UAV']
    },
    'Naval Vessels' :{
        'Combat Vessel': ['frigate', 'destroyer', 'corvette', 'submarine', 'gunboat', 'cruiser', 'aircraft carrier', 
                         'corvette/minesweeper', 'FAC (Fast Attack Craft)', 'minesweeper', 'nuclear submarine', 'SSB (Ballistic Missile Submarine)',
                         'midget submarine', 'FAC', 'SSB'],
        'Support Vessel' : [ 'patrol craft', 'cargo ship', 'tanker',
        'support ship', 'training ship', 'MCM ship', 'replenishment ship', 'minehunter', 'icebreaker', 
        'OPV', 'OPV/training ship', 'OPV/support ship', 'landing ship', 'salvage ship', 
        'survey ship', 'minelayer', 'replenishment tanker', 'OPV/transport ship', 'support/landing ship', 
        'landing/patrol craft', 'transport ship', 'landing craft', 'tug', 'OPV/tug', 'frigate/landing ship', 'SIGINT ship', 'patrol craft/transport craft',
        'transport craft', 'support craft', 'cargo craft', 'icebreaker/OPV']
    },
    'Ground Vehicles/Artillery' : {
    'Main Battle Tanks': ['tank', 'light tank', 'training tank', 'tank chassis', 'tank destroyer'],
    'Armored Personnel Carriers (APC)': ['APC', 'APC/APV', 'APC/IFV', 'APC/CP', 'apc (Armored Personnel Carrier)', 'apc'],
    'Infantry Fighting Vehicles (IFV)': ['IFV', 'IFV/AFSV', 'IFV/APC turret', 'IFV turret'],
    'Armored Reconnaissance Vehicles (ARV)': ['ARV', 'AEV/ARV'],
    'Armored Fighting Support Vehicles (AFSV)': ['AFSV', 'AMV', 'ALV (Armored Logistics Vehicle)', 'ALV'],
    'Light Armored Vehicles (APV)': ['APV', 'armoured car'],
    'Self-Propelled Artillery': ['self-propelled gun chassis', 'self-propelled AD system', 'self-propelled gun', 'self-propelled MRL', 'self-propelled AA gun',
                                'AA gun (Anti-Aircraft Gun)', 'self-propelled mortar', 'SPG turret', 'self-propelled AA gun turret'],
    'Engineering Vehicles': ['armoured bridgelayer', 'AEV (Armored Engineering Vehicle)', 'AEV'],
    'Tank Components': ['tank turret'],
    'Artillery' : ['towed gun', 'mortar', 'coastal defence system', 'towed MRL', 'naval gun', 'anti-aircraft gun', 'ASW mortar', 'helicopter turret', 'anti-tank AV turret',
                  'APC turret', 'AA gun/SAM system', 'AA gun system', 'coastal defence gun', 'mortar turret', 'AA gun']
    },
    'Missiles/Rockets/Bombs' : {
    'Surface-to-Air Missiles (SAM)': [
        'SAM', 'portable SAM', 'mobile SAM system', 'naval SAM system', 'SAM system', 'SAM/ABM', 'ABM missile', 'ABM/SAM system', 'ASM (Anti-Ship Missile)', 'ABM system'
    ],
    'Surface-to-Surface Missiles (SSM)': [
        'SSM', 'SSM launcher', 'SSM TEL', 'SSM/ASM', 'SSM/anti-ship missile', 'anti-ship missile/SSM', 'land-attack missile'
    ],
    'Air-to-Air Missiles (AAM)': [
        'BVRAAM', 'SRAAM', 'BVRAAM/SAM'
    ],
    'Anti-Ship Missiles (ASM)': [
        'anti-ship missile', 'anti-ship missile/ASM', 'anti-ship/ASW torpedo', 'anti-ship torpedo', 'SSM/anti-ship missile', 'anti-ship/anti-radar missile',
        'naval mine/torpedo', 'anti-ship missile/ASM/SAM', 'ASM'
    ],
    'Anti-Radar Missiles': [
        'anti-radar missile', 'anti-radar missile/ASM'
    ],
    'Anti-Tank Missiles': [
        'anti-tank missile', 'anti-tank missile/ASM'
    ],
    'Guided Bombs and Rockets': [
        'guided bomb', 'guided rocket', 'guided glide bomb', 'guided rocket/SSM', 'guided rocket/ASM', 'guided shell'
    ],
    'Land-Attack Missiles': [
        'anti-ship/land-attack missile', 'land-attack missile'
    ],
    'Anti-Submarine Warfare (ASW) Weapons': [
        'ASW torpedo', 'ASW MRL', 'anti-ship/ASW torpedo', 'ASW missile', 'ASW rocket launcher'
    ],
    'Naval Rocket Launchers': [
        'naval MRL'
    ],
    'Ballistic Missiles' : ['SLBM (Submarine-Launched Ballistic Missile)', 'SLBM']    
    
    },
    'Radar/Detection Systems' : {
    'Air Search Radar': [
        'air search radar', 'AEW radar', 'air search system', 'air/sea search radar', 'air/ground surv radar'
    ],
    'Sea Search Detection Systems': [
        'sea search radar', 'ground/sea search radar', 'ASW sonar', 'SONAR', 'submarine sonar', 'AGS/MP aircraft radar'
    ],
    'Ground Surveillance Radar': [
        'ground surv radar', 'ground/sea search radar', 'air/ground surv radar', 'AGS/SIGINT system'
    ],
    'Multi-function Radar': [
        'multi-function radar', 'multi-role radar'
    ],
    'Fire Control Radar': [
        'fire control radar', 'SAM system radar', 'AGS radar', 'EO system', 'EO search/fire control', 'Naval EO system'
    ],
    'Artillery/Weapon Locating Radar': [
        'artillery locating radar'
    ],
    'Aircraft-Mounted Systems': [
        'MP aircraft radar', 'aircraft EO system', 'aircraft EO/radar system', 'combat aircraft radar', 'combat heli radar',
        'aircraft recce system'
    ],
    'Other Detection Systems': ['height-finding radar', 'recce satellite', 'surveillance satellite'
                               ]
    },
    'Specialized Equipment' : {
    'Aircraft Engines': [
        'aircraft engine', 'turbofan', 'turbojet', 'turboprop'
    ],
    'Vehicle Engines': [
        'vehicle engine', 'VEHICLE ENGINE', 'gas turbine', 'AIP engine', 'nuclear reactor', 'ship engine'
    ],
    'Refueling and Logistics Systems': [
        'air refuel system', 'AALS'
    ],
    'Intelligence and Surveillance Systems': [
        'SIGINT system', 'SIGINT aircraft', 'maritime patrol aircraft'
    ]
}
    # Add more sub-categories as needed in similar structure...
}

# The mapping functions will work the same, now with the expanded mappings.

def map_category(description):
    for category, items in category_mapping.items():
        if description in items:
            return category
    return 'Unknown'

def map_sub_category(description):
    for category, sub_categories in sub_category_mapping.items():
        for sub_category, items in sub_categories.items():
            if description in items:
                return sub_category
    return 'Unknown'

# Applying the mapping functions
df['Category'] = df['Weapon description'].apply(map_category)
df['Sub-Category'] = df['Weapon description'].apply(map_sub_category)

In [7]:
# Creating a DataFrame with three columns: 'Description', 'Category', and 'Sub-category' for exporting to csv for sharing 
csv_mapping_data = {'Category': [], 'Sub-category': [], 'Description': []}

for category, subcategories in sub_category_mapping.items():
    for sub_category, descriptions in subcategories.items():
        for description in descriptions:
            csv_mapping_data['Category'].append(category)
            csv_mapping_data['Sub-category'].append(sub_category)
            csv_mapping_data['Description'].append(description)

# Generating the DataFrame
df_three_columns = pd.DataFrame(csv_mapping_data)
df_three_columns.head()

   Category             Sub-category              Description
0  Aircraft  Fighter/Combat Aircraft         fighter aircraft
1  Aircraft  Fighter/Combat Aircraft  trainer/combat aircraft
2  Aircraft  Fighter/Combat Aircraft             FGA aircraft
3  Aircraft  Fighter/Combat Aircraft          FGA/EW aircraft
4  Aircraft  Fighter/Combat Aircraft   ground attack aircraft

In [8]:
df_three_columns.to_csv('final_data/description_mapping.csv')

In [9]:
df[df['Sub-Category']=='Unknown']['Weapon description'].unique()

array([nan], dtype=object)

In [10]:
# drop nonsense columns
df.drop([' .1', ' .2', ' '], axis=1, inplace=True)
df.head()

,Recipient,Supplier,Year of order,Number ordered,Weapon designation,Weapon description,Number delivered,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons,Category,Sub-Category
0,Afghanistan,Brazil,2017.0,6.0,EMB-314 Super Tucano,trainer/combat aircraft,6.0,2018,New,A-29B version; financed by USA; ordered via US...,4.50,27.0,27.0,Aircraft,Fighter/Combat Aircraft
1,Afghanistan,Russia,2004.0,6.0,aircraft engine,aircraft engine,6.0,2005,New,Klimov TV-3-117 turboshaft; spare engines for ...,0.50,3.0,3.0,Specialized Equipment,Aircraft Engines
2,Afghanistan,Soviet Union,1977.0,26.0,AI-25,turbofan,26.0,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovak...,0.60,15.6,15.6,Specialized Equipment,Aircraft Engines
3,Afghanistan,Soviet Union,1988.0,2300.0,R-17 Elbrus,SSM,2300.0,1988; 1989; 1990; 1991,New,Mainly for use against Mujahideen rebel forces,1.25,2875.0,2875.0,Missiles/Rockets/Bombs,Surface-to-Surface Missiles (SSM)
4,Afghanistan,United Kingdom,2009.0,2.0,Mi-17,transport helicopter,2.0,2010,Second hand,Second-hand Mi-17 version bought by UK for 'Pr...,2.90,5.8,5.8,Helicopters,Transport/Utility Helicopters

In [11]:
filtered_df = df[df['Year(s) of delivery'].str.len() > 4]
print(filtered_df['Year(s) of delivery'].unique())

['1977; 1978' '1988; 1989; 1990; 1991' '1980; 1981; 1982' ...
 '1968; 1969; 1970; 1971; 1972; 1973; 1974; 1975; 1976; 1977; 1978; 1979; 1980; 1981; 1982'
 '1963; 1964; 1965; 1966; 1967; 1968; 1969; 1970; 1971; 1972; 1973; 1974; 1975; 1976; 1977; 1978; 1979; 1980; 1981; 1982; 1983; 1984; 1985'
 '1964; 1965; 1966; 1967; 1968; 1969; 1970; 1971; 1972; 1973; 1974; 1975; 1976; 1977; 1978; 1979; 1980; 1981; 1982; 1983']

In [12]:
def count_years_delivered(years_of_delivery):
    # Count semicolons and return one less than the count to count number of unique years weapons delivered in
    if isinstance(years_of_delivery, str):
        # Count semicolons if the entry is a string
        return years_of_delivery.count(';')+1
    else:
        # Return 0 for non-string entries (like NaN)
        return 0

In [13]:
df['Num years Delivered In'] = df['Year(s) of delivery'].apply(count_years_delivered)
df.head()

,Recipient,Supplier,Year of order,Number ordered,Weapon designation,Weapon description,Number delivered,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons,Category,Sub-Category,Num years Delivered In
0,Afghanistan,Brazil,2017.0,6.0,EMB-314 Super Tucano,trainer/combat aircraft,6.0,2018,New,A-29B version; financed by USA; ordered via US...,4.50,27.0,27.0,Aircraft,Fighter/Combat Aircraft,1
1,Afghanistan,Russia,2004.0,6.0,aircraft engine,aircraft engine,6.0,2005,New,Klimov TV-3-117 turboshaft; spare engines for ...,0.50,3.0,3.0,Specialized Equipment,Aircraft Engines,1
2,Afghanistan,Soviet Union,1977.0,26.0,AI-25,turbofan,26.0,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovak...,0.60,15.6,15.6,Specialized Equipment,Aircraft Engines,2
3,Afghanistan,Soviet Union,1988.0,2300.0,R-17 Elbrus,SSM,2300.0,1988; 1989; 1990; 1991,New,Mainly for use against Mujahideen rebel forces,1.25,2875.0,2875.0,Missiles/Rockets/Bombs,Surface-to-Surface Missiles (SSM),4
4,Afghanistan,United Kingdom,2009.0,2.0,Mi-17,transport helicopter,2.0,2010,Second hand,Second-hand Mi-17 version bought by UK for 'Pr...,2.90,5.8,5.8,Helicopters,Transport/Utility Helicopters,1

In [14]:
# Get first and last year of delivery in seperate cols

In [15]:
def get_first_year(years_of_delivery):
    if isinstance(years_of_delivery, str):
        # Split the string by semicolons and get the first year, stripping any spaces
        return years_of_delivery.split(';')[0].strip()
    else:
        # Return NaN for non-string entries (like NaN)
        return float('nan')

def get_last_year(years_of_delivery):
    if isinstance(years_of_delivery, str):
        # Split the string by semicolons and get the last year, stripping any spaces
        return years_of_delivery.split(';')[-1].strip()
    else:
        # Return NaN for non-string entries (like NaN)
        return float('nan')

In [16]:
df['First Year'] = df['Year(s) of delivery'].apply(get_first_year)
df['Last Year'] = df['Year(s) of delivery'].apply(get_last_year)
df.head(10)

,Recipient,Supplier,Year of order,Number ordered,Weapon designation,Weapon description,Number delivered,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons,Category,Sub-Category,Num years Delivered In,First Year,Last Year
0,Afghanistan,Brazil,2017.0,6.0,EMB-314 Super Tucano,trainer/combat aircraft,6.0,2018,New,A-29B version; financed by USA; ordered via US...,4.50,27.0,27.0,Aircraft,Fighter/Combat Aircraft,1,2018,2018
1,Afghanistan,Russia,2004.0,6.0,aircraft engine,aircraft engine,6.0,2005,New,Klimov TV-3-117 turboshaft; spare engines for ...,0.50,3.0,3.0,Specialized Equipment,Aircraft Engines,1,2005,2005
2,Afghanistan,Soviet Union,1977.0,26.0,AI-25,turbofan,26.0,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovak...,0.60,15.6,15.6,Specialized Equipment,Aircraft Engines,2,1977,1978
3,Afghanistan,Soviet Union,1988.0,2300.0,R-17 Elbrus,SSM,2300.0,1988; 1989; 1990; 1991,New,Mainly for use against Mujahideen rebel forces,1.25,2875.0,2875.0,Missiles/Rockets/Bombs,Surface-to-Surface Missiles (SSM),4,1988,1991
4,Afghanistan,United Kingdom,2009.0,2.0,Mi-17,transport helicopter,2.0,2010,Second hand,Second-hand Mi-17 version bought by UK for 'Pr...,2.90,5.8,5.8,Helicopters,Transport/Utility Helicopters,1,2010,2010
5,Afghanistan,Soviet Union,1980.0,1000.0,Fleyta/Skorpion,anti-tank missile,1000.0,1980; 1981; 1982,New,For Mi-24A helicopters,0.02,20.0,20.0,Missiles/Rockets/Bombs,Anti-Tank Missiles,3,1980,1982
6,Afghanistan,Soviet Union,1988.0,250.0,R-60,SRAAM,250.0,1988; 1989; 1990,New,For MiG-23MF and MiG-21bis combat aircraft,0.09,22.5,22.5,Missiles/Rockets/Bombs,Air-to-Air Missiles (AAM),3,1988,1990
7,Afghanistan,Soviet Union,1987.0,40.0,MiG-21MF,fighter aircraft,40.0,1987; 1988; 1989; 1990,Second hand,Second-hand; probably incl some MiG-21UM,4.28,171.2,171.2,Aircraft,Fighter/Combat Aircraft,4,1987,1990
8,Afghanistan,Soviet Union,1985.0,100.0,Strela-3,portable SAM,100.0,1986; 1987; 1988; 1989,New,Probably incl for Mi-24 combat helicopters,0.06,6.0,6.0,Missiles/Rockets/Bombs,Surface-to-Air Missiles (SAM),4,1986,1989
9,Afghanistan,Soviet Union,1979.0,50.0,Mi-8T,transport helicopter,50.0,1979; 1980; 1981,New,NaN,6.00,300.0,300.0,Helicopters,Transport/Utility Helicopters,3,1979,1981

In [17]:
df.to_csv('final_data/cleaned_transfer_data.csv')

## Create csv with one row per year delivered

In [18]:
delivered_df = df.dropna(subset=['First Year'])

delivered_df['First Year'] = delivered_df['First Year'].astype(int)

# Expand rows based on `Num years Delivered In`
annual_delivery_df = delivered_df.loc[delivered_df.index.repeat(delivered_df['Num years Delivered In'])].copy()

# Calculate the `year_delivered` for each expanded row
annual_delivery_df['year_delivered'] = annual_delivery_df.groupby(level=0).cumcount() + annual_delivery_df['First Year']
annual_delivery_df['num_delivered_in_year'] = annual_delivery_df['Number delivered']/annual_delivery_df['Num years Delivered In']
annual_delivery_df['SIPRI_TIV_delivered_in_year'] = annual_delivery_df['num_delivered_in_year']*annual_delivery_df['SIPRI TIV per unit']

/var/folders/63/jzv4h4hj37j3wl3_r5y5828h0000gn/T/ipykernel_4027/3196642239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_df['First Year'] = delivered_df['First Year'].astype(int)

In [19]:
annual_delivery_df = annual_delivery_df.rename(columns={'Number delivered':'Total number delivered'})
annual_delivery_df.head()

,Recipient,Supplier,Year of order,Number ordered,Weapon designation,Weapon description,Total number delivered,Year(s) of delivery,status,Comments,...,SIPRI TIV for total order,SIPRI TIV of delivered weapons,Category,Sub-Category,Num years Delivered In,First Year,Last Year,year_delivered,num_delivered_in_year,SIPRI_TIV_delivered_in_year
0,Afghanistan,Brazil,2017.0,6.0,EMB-314 Super Tucano,trainer/combat aircraft,6.0,2018,New,A-29B version; financed by USA; ordered via US...,...,27.0,27.0,Aircraft,Fighter/Combat Aircraft,1,2018,2018,2018,6.0,27.00
1,Afghanistan,Russia,2004.0,6.0,aircraft engine,aircraft engine,6.0,2005,New,Klimov TV-3-117 turboshaft; spare engines for ...,...,3.0,3.0,Specialized Equipment,Aircraft Engines,1,2005,2005,2005,6.0,3.00
2,Afghanistan,Soviet Union,1977.0,26.0,AI-25,turbofan,26.0,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovak...,...,15.6,15.6,Specialized Equipment,Aircraft Engines,2,1977,1978,1977,13.0,7.80
2,Afghanistan,Soviet Union,1977.0,26.0,AI-25,turbofan,26.0,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovak...,...,15.6,15.6,Specialized Equipment,Aircraft Engines,2,1977,1978,1978,13.0,7.80
3,Afghanistan,Soviet Union,1988.0,2300.0,R-17 Elbrus,SSM,2300.0,1988; 1989; 1990; 1991,New,Mainly for use against Mujahideen rebel forces,...,2875.0,2875.0,Missiles/Rockets/Bombs,Surface-to-Surface Missiles (SSM),4,1988,1991,1988,575.0,718.75

In [20]:
annual_delivery_df.to_csv('final_data/annual_delivery_data.csv')